
midlec/sel mecro2/molecule.png
midlec/sel mecro2/home_scale.png
midlec/sel mecro2/how to make.txt
midlec/sel mecro2/home.png
midlec/sel mecro2/chromedriver.exe
midlec/sel mecro2/blockMap_count.png
midlec/sel mecro2/bcon.png
midlec/sel mecro2/__pycache__/mecrosel_mod2.cpython-39.pyc
midlec/sel mecro2/__pycache__/mecrosel_mod2.cpython-310.pyc
midlec/sel mecro2/220519d1.txt
midlec/220519/__pycache__/mecrosel_mod2.cpython-39.pyc
midlec/220519/chromedriver.exe
midlec/220519/element.txt
midlec/220519/matplotlib/220519matplotstd1.txt
midlec/220519/matplotlib/trafac.xlsx
midlec/220519/mecrosel_mod2.py
midlec/220519/std1.txt
midlec/chromedriver.exe
react2/
