button {
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 40px;
  font-size: 20px;
  top: 680px;
  left: 20px;
  display: none;
  border-radius: 5px;
  background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
  -webkit-background-clip: text;
  color: transparent;
  border:3px dotted orangered

  

}

input {
  position: absolute;
  z-index: 2;
  top: 365px;
  left: 495px;
  width: 285px;
  text-align: center;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: gainsboro;
}

#img {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 320px;
  width: 640px;
}

#ending-credit {
  display: none;
}

#gameOver {
  display : none;
  position: absolute;
  z-index: 3;
  top : 0;
  left : 0;
  width : 1280px;
  height : 720px;
  background-color: black;
  text-align: center;
}

#title {
  color: green;
  font-size: 75px;
}
#aliveTime, #myScore, #buttonEvent {
  color: green;
  font-size: 30px;
}
#deadChick {
  position: absolute;
  right: 50px;
  top: 200px;
  height: 305px;
}


#hp1{

  position: relative;
  z-index: 10;
  top: 3%;
  left:70% ;
  display: none;
}